body {
	margin:0;
	background-color:white;
	}

h1 {
  font-family: 'Modak', cursive;
  text-align:center;
  font-size: 20em;
  color:#ff4d7d;
	line-height: 1em;
  margin-top: 20px;
  margin-bottom: 0px;
  }
  h2 {
    font-family: 'Cabin', cursive;
    text-align:center;
		text-transform: uppercase;
    margin-top: 0px;
		margin-bottom: 60px;
		margin-left: 268px;
		margin-right: 268px;
		}
  p{
    font-family: 'Cabin', sans-serif;
		font-size: 1.4em;
    margin-top: 20px;
    margin-left: 268px;
		margin-right: 268px;
    text-align: left;
    vertical-align: left;
  }
