body {
	margin:0;
	background-color:white;
	}
h1 {
  font-family: 'Modak', cursive;
  text-align:center;
  font-size: 22em;
  color:#ff4d7d;
	line-height: 1em;
  margin-top: 20px;
  margin-bottom: -40px;
  }
  h2 {
    font-family: 'Cabin', cursive;
    text-align:center;
		font-size: 2em;
		text-transform: uppercase;
    margin-top: 0px;
		margin-bottom: 40px;
		padding-left: 160px;
		padding-right: 160px;
		outline-color: #ff4d7d;
		outline-style:solid;
		outline-width: medium;
		display: inline-block;
		}
  p{
    font-family: 'Cabin', sans-serif;
		font-size: 1.4em;
    margin-top: 20px;
    margin-left: 180px;
		margin-right: 180px;
    text-align: center;
    vertical-align: left;
  }
	#one{
    padding-left: 570px;
		margin-right: 195px;
}
	#two{
		padding-right: 600px;
		margin-left: 235px;
}
	#three{
		padding-left: 540px;
		margin-right: 170px;
	}
	#four{
		padding-right: 530px;
		margin-left: 176px;
}
	#five{
		padding-left: 510px;
		margin-right: 142px;
	}
	#six{
		padding-right: 535px;
		margin-left: 185px;
}
	#seven{
		padding-left: 540px;
		margin-right: 200px;
	}
	#eight{
		padding-right: 580px;
		margin-left: 220px;
}
	#nine{
		padding-left: 492px;
		margin-right: 150px;
	}
	#ten{
		padding-right: 640px;
		margin-left: 280px;
}
	#eleven{
		padding-left: 525px;
	}
	#twelve{
		padding-right: 524px;
		margin-left: 170px;
}
	#thirteen{
		padding-left: 560px;
		margin-right: 214px;
	}
	#fourteen{
		padding-right: 580px;
		margin-left: 230px;
}
	#fifteen{
		padding-left: 600px;
		margin-right: 260px;
	}
	a {
		font-family: 'Lato', sans-serif;
		font-size: 18px;
		outline-color: #ff4d7d;
		outline-style:solid;
		outline-width: medium;
		display: inline-block;
		margin-left: 570px;
		margin-right: 300px;
		margin-top: 100px;
		margin-bottom: 100px;
		padding: 8px;
}
	/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: #ff4d7d;
}

/* selected link */
a:active {
  color: black;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
