body {
	margin:0;
	background-color:black;
	}

h1 {
  font-family: 'Righteous', cursive;
  text-align:center;
  font-size: 18em;
  color:#ff4d7d;
  margin-top: 0px;
  margin-bottom: 0px;
  }
  h2 {
    font-family: 'Cabin', cursive;
    text-align:center;
    margin-top: 0px;
  }
  p {
    font-family: 'Cabin', sans-serif;
    margin-top: 0px;
    margin-left: 200px;
    text-align: left;
    vertical-align: left;
  }
	/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: #ff4d7d;
}

/* selected link */
a:active {
  color: white;
}
